<div class="inset sentence-bg">
    <form>
        <div class="form-group">
                <label for="wordType" class="controllerText">Select an English word type :</label>
                <select  class="form-control" ng-model="selectedWordTypeObj" ng-change="typeChanged()"  ng-options="typeObj.type for typeObj in Types">
                    <option value="">-- Choose Type --</option>
                </select>
                <!--  -->
                <div class="input-group" style="margin-top: 15px;">
                    <!-- <label class="controllerText"></label> -->
                    <select ng-disabled="!typeIsSelected" class="form-control" ng-model="selectedWordType" ng-change="wordTypeOnChange()"
                        ng-options="wordType.word for wordType in wordTypesList">
                        <option value="">-- Choose a word to create a sentence with --</option>
                    </select>
                    <div class="input-group-btn">
                        <button ng-disabled="!selectedWordType" type="button" ng-click="addWord()" class="btn btn-success btn pull-right">Add</button>
                    </div>
                </div>
                <div class="input-group" style="margin-top: 15px;" ng-show="selectedWordType">
                    <input type="text" class="form-control" ng-model="sentenceToPost">                    
                    <div class="input-group-btn">
                        <button ng-disabled="!selectedWordType"  type="button" ng-click="postSentence()" class="btn btn-success btn pull-right">Submit</button>
                    </div>
                </div>
        </div>
    </form>

    <ul class="list-group" id="sentencelist-grp" style="margin-top: 10px">
        <li ng-repeat="item in sentences | filter: searchTerm" class="list-group-item">
            {{ item.sentence }}
        </li>
        
      </ul>

    <div ng-show="sentences && sentences.length === 0" class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        You do not have any sentences. Select a type of word and build a sentence today!
    </div>
</div>